@charset:"utf-8";
*{
	padding: 0;
	margin:0;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body{
	font-size: 12px;
	font-size: "微软雅黑","Arial Narrow",HELVETICA;
	color:#666;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
/*清除浮动*/
.clear{
	overflow: auto;
	_zomm:1;
}
.clear:after{
	content: "";
	display: block;
	clear:both;
	height: 0;
	visibility: hidden;
}
.hide{
	display:none;
}
header{
	width: 100%;
	height: 40px;
	padding: 0 229px;
	border-top: 3px solid #38B6E8;
	border-bottom: 1px solid #eee;
	position: relative;
}
header ul{
	width: 200px;
	height: 36px;
}
header ul li{
	float:left;

}
header ul li a{
	display: block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	color:#000;

}

header ul li a:hover{
	background: #eee;
	color: #197ab1;
}
header form{
	width: 524px;
	height: 36px;
	position: absolute;
	right:237px;
	top: 4px;
}
header form label{
	display: inline-block;
	width: 152px;
	height: 27px;
	border:1px solid #D9D9D9;
}
header form label span{
	display: inline-block;
	width: 64px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #F5F2E7;
	color: #666;
}
header form input.text{
	border:0;
	width: 86px;
	height: 21px;
	padding-left: 6px;
}
header form label[for="password"]{
	margin-left: 4px;
}
header .form_btn{
	width: 186px;
	height: 27px;
	position: absolute;
	right: 5px;
	top:0;
}
header .form_btn button{
	border:0;
	width: 60px;
	height: 27px;
	border-radius: 4px;
	line-height: 26px;
	background: #48A1CC;
	color:#fff;
	text-align: center;
	cursor:pointer;
	font-size: 12px;
	margin-right: 4px;
}
header .form_btn a{
	display: inline-block;
	color: #000;
	line-height: 26px;
}

header .form_btn a:hover{
	color: #197ab1;
}
/*header结束*/
/*logo*/
section.logo{
	width: 100%;
	height: 92px;
	padding:0 229px;
	position: relative;
}
section.logo h1{
	height: 93px;
	padding-top: 10px;
}
section.logo h1 a{
	display: block;
	width: 312px;
	height: 93px;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat left top;
}
.logo_right{
	width: 240px;
	height: 93px;
	position: absolute;
	right: 229px;
	top: 0px;
	padding: 20px 0px 12px 0px;
}
.logo_right p.tel{
	height: 20px;
	line-height: 20px;
	text-align: right;
	margin-bottom: 20px;
}
.logo_right p.tel span{
	display: inline-block;
	width: 70px;
	height: 20px;
	margin-right:10px;
}
.logo_right ul{
	width: 240px;
	height: 38px;

}
.logo_right ul li{
	float: left;
	width: 79px;
	height: 20px;
	padding-left: 4px;
	border-right: 1px solid #ccc;
}
.logo_right ul li a{
	display: block;
	height: 20px;
	line-height: 20px;
	color: #666;
}
.logo_right ul li a:hover{
	color: #3997C6;
}
.logo_right ul li a:before{
	display: inline-block;
	content: "";
	width: 13px;
	height: 13px;
	background: url(../images/icon.png) no-repeat;
	vertical-align: middle;
	padding-right: 6px;
}
.logo_right ul li a.login_icon:before{
	background-position: 0px 0px;
}
.logo_right ul li a.login_icon:hover:before{
	background-position: -27px 0px;
}
.logo_right ul li a.user_log:before{
	background-position: 0px -88px;
}
.logo_right ul li a.user_log:hover:before{
	background-position: -18px -88px;
}
.logo_right ul li a.pay_icon:before{
	background-position: -69px 0px;
}
.logo_right ul li a.pay_icon:hover:before{

	background-position: -90px 0px;
}
/*logo end*/

/*导航*/
nav{
	width: 100%;
	padding: 0 229px;
	background: url(../images/nav_bg.png) repeat-x;
}
nav ul{
	width: 980px;
	height: 40px;
}
nav ul li{
	float: left;
}
nav ul li a{
	display: block;
	width: 98px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "黑体";
	color: #fff;
	font-weight: bold;
}
nav ul li a.active{
	background:url(../images/nav_hover.png) no-repeat;
}
nav ul li a:hover{
	background:url(../images/nav_hover.png) no-repeat;
}
/*焦点图*/
.focus{
	width: 980px;
	height: 270px;
	background: #ccc;
	margin:10px auto;
	position: relative;
}
.focus a#previous,a#next{
	display: block;
	width: 21px;
	height: 28px;
}
a#previous{
	background: url(../images/previous.png) no-repeat center;
	position: absolute;
	left: -30px;
	top: 50%;
}
a#previous:hover{
	background: url(../images/previoused.png) no-repeat center;
	
}
a#next{
	background: url(../images/next.png) no-repeat center;
	position: absolute;
	right: -30px;
	top: 50%;
}
a#next:hover{
	background: url(../images/nexted.png) no-repeat center;
	
}
.focus ul{
	
	height: 270px;

}
.focus ul li{
	position: absolute;
}
/*底部*/
footer{
	width: 980px;
	height: 52px;
	margin: 0 auto;
	border:1px solid #ccc;
	border-bottom: none;
}

footer ul li{
	display:inline-block;
	width: 191px;
	height: 42px;
	padding:10px 10px;
	
}
footer ul li a{
	display:inline-block;
	width: 176px;
	height: 32px;
	line-height: 28px;
	border:1px solid #ccc;
	text-align: center;
	color: #666;
	font-size: 14px;
	background: #FAFAFA;
	font-weight: bold;
	padding: 0 10px;
}
footer ul li a:hover,div.footer2 a:hover{
	color:#2E86C9;
}
div.footer2{
	width: 960px;
	height: 165px;
	margin:0 auto;
	border-top: 2px solid #0071BF;
	color:#666;
	padding-top: 10px;
	font-size: 12px;
}

div.footer2  p{
	text-align: center;
	margin-top: 10px;
}
div.footer2 a.fot_serve{
	display: block;
	margin: 0  38px;
	text-align: center;
	color:#666;
}
p.footer_tell{
	background: url(../images/cell.gif) no-repeat left center;
	width: 235px;
	
	margin:10px auto;
	padding-left: 15px;
}

/*域名中心*/
.nav_position{
	width: 979px;
	height: 33px;
	margin:0 auto;
	background: url(../images/position_bg.png) no-repeat center;
	margin-bottom: 10px;
}
.nav_position p{
	height: 33px;
	line-height: 30px;
	padding-left: 38px;
	margin-top: 10px;
}
.nav_position p a{
	color: #666;

}
.nav_position p a:hover{
	color:#2E86C9;
}
article.content{
	width: 980px;
	margin: auto;
}
/*侧栏*/
.sidebar{
	width: 210px;
	height: 1000px;
	float: left;
}
.sidebar h1{
	height: 32px;
	border-bottom: 2px solid #ccc;
}
.sidebar h1 span{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 20px;
	width: 100px;
	border-bottom: 2px solid #197AB1;
}

.sidebar ul.sidebar_nav li{
	height:40px;
	width: 210px;
	background:#0099FF;
	margin:5px 0px;
}

.sidebar ul li a{
	display:block;
	width:210px;
	color:#fff;
	font-size:14px;
	line-height:40px;

}
.sidebar ul.sidebar_nav li a:hover{
	background: #666;
}
.sidebar ul.sidebar_nav li a:before{
	display:inline-block;
	content: '';
	width: 18px;
	height:18px;
	margin:0px 20px;
	background:url(../images/icon.png) no-repeat center;
	vertical-align: middle;
}
.sidebar ul.sidebar_nav a.list1:before{
	background-position: 0px -18px;
}

.sidebar ul.sidebar_nav a.list2:before{
	width:20px;
	height: 19px;
	margin-right: 14px;
	background-position: 0px -40px;
}
.sidebar ul.sidebar_nav a.list3:before{
	width:20px;
	height:20px;
	margin-right: 14px;
	background-position: -80px -16px;
}
.sidebar ul.sidebar_nav a.list4:before{
	width:15px;
	height:20px;
	background-position: -85px -40px;
}
.sidebar ul.sidebar_nav a.list5:before{
	width:15px;
	height:20px;
	background-position: -85px -63px;
}
.sidebar ul.sidebar_nav a.list6:before{
	width:20px;
	height:20px;
	margin-right: 14px;
	background-position: -61px -80px;
}
.sidebar ul.sidebar_nav a.list7:before{
	width:20px;
	height:20px;
	margin-right: 14px;
	background-position: -38px -80px;
}
.sidebar ul.sidebar_nav a.list8:before{
	width:20px;
	height:18px;
	margin-right: 14px;
	background-position: 0px -60px;
}
.sidebar ul.ad{
	width: 210px;
}
.sidebar ul.ad li{
	width:210px;
	height:210px;
	margin:15px 0px;
	background: none;
}
.sidebar ul li.ad img{
	border:0;
}
/*右侧*/
.content_info{
	width:750px;
	height: auto;
	float: right;
	margin-bottom: 10px;
}
/*标题*/
.content_info .right_title{
	margin-top: 6px;
	heigth:40px;
	border-bottom:1px solid #ccc;

}
.content_info .right_title span{
	display: block;
	height:30px;
	font-size: 20px;
	padding-left:10px;
	color:#0099FF;
	border-left:4px solid #0099FF;
	margin-bottom: 4px;
}

.content_info .e_domain{
	width:750px;
	height:188px;
	background:url(../images/domain_img1.png) no-repeat right 2px;
	border-bottom:1px solid #ccc;
}
.content_info  form{
	width:460px;
	height:126px;
	margin-top:17px;
	margin-left:20px;
}
p.edomain_text{
	width:437px;
	height:40px;
	background:url(../images/domain_search.png) no-repeat left top;
	line-height: 38px;
}
input.domain_text{
	width:260px;
	height:36px;
	padding-left:8px;
	margin-left:110px;
	vertical-align:middle;
	font-size: 20px;
	border:none;
}
div.domain-fl{
	width:435px;
	height:50px;
	padding:0;
	margin:0;
	margin-top:20px;
}
div.domain-fl label{
	display:block;
	width:87px;
	height:25px;
	float:left;
}
input[type=checkbox]{
	margin-right:4px;
}
/*中文域名注册*/
.z_domain{
	width:750px;
	height:188px;
	background:url(../images/domain_img2.png) no-repeat right 2px;
	border-bottom:1px solid #ccc;
}
#domain_tab{
	height:auto;
	border-bottom:1px solid #ccc;
}
#domain_tab ul{
	width:750px;
	height:40px;
	border-bottom:2px solid #0099FF;
	margin-top:10px;
}
#domain_tab ul li{
	color:#0099FF;
	font:bold 18px/38px Microsoft Yahei,sans-serif;
	width:150px;
	height:40px;
	float:left;
	text-align:center;
	cursor:pointer;
}
#domain_tab ul li.active{
	background: #0099FF;
	color:#fff;
}
/*域名优势*/
.domain_advantage{
	height:382px;
	background: url(../images/domain_goodness.jpg) no-repeat center 20px;
	position:relative;
}
#tab_box p{
	margin-bottom:10px;
}
.domain_advantage p strong{
	color:#000;
}
.p1,.p2,.p3,.p4{
	margin:20px 0px;
	width:148px;
	height:122px;

}
.domain_advantage .p1{
	position:absolute;
	left:0px;
	top:0px;

}
.domain_advantage .p2{
	position:absolute;
	left:0px;
	bottom:16px;
}
.domain_advantage .p3{
	position:absolute;
	right:0px;
	top:0px;
}
.domain_advantage .p4{
	position:absolute;
	right:0px;
	bottom:16px;
}
/*域名指南*/
.domain_guide h1{
	height: 40px;
	font:bold 16px/40px Microsoft Yahei,sans-serif;
	color:#197AB1;
	text-indent: 30px;
	border-bottom:1px solid #ccc;
}
.tab_con2_text{
	width:723px;
	padding-left:27px;
}
.tab_con2_text p{
	margin-top: 10px;
}
.tab_con2_text p em{
	font-style:normal;
	font-weight: bold;
	color:#FF6600;
}


/*域名推荐*/
.domain_commend {
	width: 750px;
	height:474px;
	background:url(../images/domain_tuijian_bg.png) no-repeat center center;
}
.domain_commend dl{
	width:176px;
	height:100px;
	display: inline-block;
	margin-top:48px;
	margin-left:165px;
	line-height: 25px;
}
.domain_commend dl.dl_r{
	margin-left:193px;
}
.domain_commend dt{
	color:#666;
	font-weight:bold;
}
.domain_commend b{
	font-size: 14px;
	color:#fa8800;
}
/*增值服务*/
.domain_server{
	width:750px;
	height:290px;
	background:url(../images/domain_serve_bg.png) no-repeat center center;
}
.domain_server dl{
	width:370px;
	height:136px;
	padding:30px 0 0 60px;
	display: inline-block;
	line-height: 20px;
}
.domain_server dl a{
	display:block;
	background:url(../images/domain-sever.png) no-repeat right;
	width:63px;
	height:69px;
	text-indent:-9999px;
	float: left;

}
.domain_server dl a.server1{
	background-position:5px 0;
}

.domain_server dl a.server2{
	width:69px;
	height:50px;
	background-position:-66px 0;
}

.domain_server dl.dl_server3 a.server3{
	width:63px;
	height:66px;
	background-position:-152px 0px;
}
.domain_server dl a.server4{
	width: 69px;
	 height:63px;
	 background-position:-218px 0px;
 }
.domain_server dl a.server4:hover{
	background-position:-218px -74px;
}
.domain_server dl.dl_server3 a.server3:hover{
	background-position:-152px -79px;
}
.domain_server dl a.server2:hover{
	background-position:-66px -87px;
}
.domain_server dl a.server1:hover{
	background-position:5px -79px;
}

.domain_server dl dt{
	margin-top: 4px;
	font-weight:bold;
}
.domain_server dl dt,.domain_server dl dd{
	width:135px;
	margin-left:24px;
	float:left;
}
.domain_server dl.server_l{
	padding:30px 0 0 100px;
}
/*价格列表*/
.domain_tab_con5{
	padding:20px 20px;
}
.domain_tab_con5 table{
	border-spacing: 0;
	border-collapse: collapse;
	width: 700px;
	margin:0 auto;
}
.domain_tab_con5 table b{
	color:#F67700;
}
.domain_tab_con5 table tr{
	height:30px;
	line-height:30px;
}
.domain_tab_con5 table th{
	color:#000;
}
.domain_tab_con5 table td{
	text-indent:40px;
}
.domain_tab_con5 table td.td-center{
	text-indent:0;
	text-align:center;
}
.domain_tab_con5 table,.domain_tab_con5 table td,.domain_tab_con5 table th{
	border:1px solid #ccc;
}
.case{
	background:url(../images/domain_case.png) no-repeat center center;
	width: 714px;
	height:148px;
}